.cls-1 {
    fill: none;
}

.cls-2,
.cls-59 {
    isolation: isolate;
}

.cls-3 {
    fill: #fafafa;
}

.cls-4 {
    fill: #f7f7f7;
}

.cls-5 {
    fill: #f3f3f3;
}

.cls-6 {
    fill: #fefefe;
}

.cls-7 {
    fill: #efefef;
}

.cls-8 {
    fill: #d6d5d5;
}

.cls-9 {
    fill: #c1c0c0;
}

.cls-10 {
    fill: #e6e5e5;
}

.cls-11 {
    fill: #e1e1e1;
}

.cls-12 {
    fill: #cbcaca;
}

.cls-13 {
    fill: #b9b8b8;
}

.cls-14 {
    fill: #eaeaea;
}

.cls-15 {
    fill: #afaeae;
}

.cls-16 {
    fill: #9e9c9c;
}

.cls-17 {
    fill: #8b8989;
}

.cls-18 {
    fill: #7d7b7b;
}

.cls-19 {
    fill: #918f8f;
}

.cls-20 {
    fill: #636060;
}

.cls-21 {
    fill: #a9a8a8;
}

.cls-22 {
    fill: #838181;
}

.cls-23 {
    fill: #757373;
}

.cls-24 {
    fill: #6c6a6a;
}

.cls-25 {
    fill: #989696;
}

.cls-26 {
    fill: #a3a2a2;
}

.cls-27 {
    fill: #3c3939;
}

.cls-28 {
    fill: #5e5b5b;
}

.cls-29 {
    fill: #464343;
}

.cls-30 {
    fill: #555252;
}

.cls-31 {
    fill: #232020;
}

.cls-32 {
    fill: #302d2d;
}

.cls-33 {
    fill: #f4f4f4;
}

.cls-34 {
    fill: #e5e5e5;
}

.cls-35 {
    fill: #f2f2f2;
}

.cls-36 {
    fill: #c9c9c9;
}

.cls-37 {
    fill: #cfcfcf;
}

.cls-38 {
    fill: #dcdcdc;
}

.cls-39 {
    fill: #bebebe;
}

.cls-40 {
    fill: #9d9d9d;
}

.cls-41 {
    fill: #b6b6b6;
}

.cls-42 {
    fill: #f8f8f8;
}

.cls-43 {
    fill: #e7e7e7;
}

.cls-44 {
    fill: #ececec;
}

.cls-45 {
    fill: #d7d7d7;
}

.cls-46 {
    fill: #b0b0b0;
}

.cls-47 {
    fill: #bbb;
}

.cls-48 {
    fill: #838383;
}

.cls-49 {
    fill: #5a5a5a;
}

.cls-50 {
    fill: #919191;
}

.cls-51 {
    fill: #a8a8a8;
}

.cls-52 {
    fill: #757575;
}

.cls-53 {
    fill: #3b3b3b;
}

.cls-54 {
    fill: #676767;
}

.cls-55 {
    fill: #c2c2c2;
}

.cls-56 {
    fill: #fcfcfc;
}

.cls-57 {
    fill: #272727;
}

.cls-58 {
    fill: #fdfdfd;
}

.cls-59 {
    opacity: 0.76;
}

.cls-60 {
    fill: #acb3b5;
}

.cls-61 {
    fill: #0f0f0f;
}

.cls-62 {
    fill: #292729;
}

.cls-63 {
    fill: #1a1d1e;
}

.cls-64 {
    fill: #111517;
}

.cls-65 {
    fill: #9da1a5;
}

.cls-66 {
    fill: #818889;
}

.cls-67 {
    fill: #909597;
}

.cls-68 {
    fill: #6d7374;
}

.cls-69 {
    fill: #888e8f;
}

.cls-70 {
    fill: #787d7e;
}

.cls-71 {
    fill: #7c5946;
}

.cls-72 {
    fill: #a4897b;
}

.cls-73 {
    fill: #592f1e;
}

.cls-74 {
    fill: #896957;
}

.cls-75 {
    fill: #9b7f6f;
}

.cls-76 {
    fill: #616767;
}

.cls-77 {
    fill: #947564;
}

.cls-78 {
    fill: #6a4330;
}

.cls-79 {
    fill: #a1a6a8;
}

.cls-80 {
    fill: #32393b;
}

.cls-81 {
    fill: #0f1214;
}

.cls-82 {
    fill: url(#New_Pattern_Swatch_2-3);
}

.cls-83 {
    fill: url(#New_Pattern_Swatch_2-3-3);
}

.cls-84 {
    opacity: 0.87;
    mix-blend-mode: multiply;
}

.cls-85 {
    fill: #d8d8d8;
}